@charset "UTF-8";

#wrap #header {z-index:3;position:fixed;top:0;left:0;width:100%;height:124px;background:rgba(255,255,255,0);transition:all .5s;}
#wrap #header.addHeader {background:rgba(255,255,255,1);}
#wrap #header .wrap {width:100%;max-width:1570px;margin:0 auto;height:100%;}
#wrap #header .wrap .gap {margin:0 20px;height:100%;}
#wrap #header .wrap .gap .container {width:100%;height:100%;}
#wrap #header .wrap .gap .container > ul {width:100%;}
#wrap #header .wrap .gap .container > ul > li {width:auto;}
/* 가운데 로고 */
#wrap #header .wrap .gap .container > ul > li:nth-child(1) {z-index:1;position:absolute;width:100%;height:55px;left:0;top:34.5px;text-align:center;}
#wrap #header .wrap .gap .container > ul > li:nth-child(1) > a.logo-btn {display:inline-block;width:288px;}
#wrap #header .wrap .gap .container > ul > li:nth-child(1) > a.logo-btn img.white {width:100%;}
#wrap #header .wrap .gap .container > ul > li:nth-child(1) > a.logo-btn img.color {display:none;}
#wrap #header.addHeader .wrap .gap .container > ul > li:nth-child(1) > a.logo-btn img.white {display:none;}
#wrap #header.addHeader .wrap .gap .container > ul > li:nth-child(1) > a.logo-btn img.color {display:block;}
/* 왼쪽 햄버거 버튼 */
#wrap #header .wrap .gap .container > ul > li:nth-child(2) {z-index:2;position:relative;float:left;padding:54px 0;}
#wrap #header .wrap .gap .container > ul > li:nth-child(2) > a {display:inline-block;}
#wrap #header .wrap .gap .container > ul > li:nth-child(2) > a > .line-box {position:relative;display:inline-block;width:18px;height:14px;}
#wrap #header .wrap .gap .container > ul > li:nth-child(2) > a > .line-box .line {display:block;position:absolute;left:0;width:100%;height:1px;background:#fff;}
#wrap #header.addHeader .wrap .gap .container > ul > li:nth-child(2) > a > .line-box .line {background:#222;}
#wrap #header .wrap .gap .container > ul > li:nth-child(2) > a > .line-box .line1 {top:0;}
#wrap #header .wrap .gap .container > ul > li:nth-child(2) > a.addBtn > .line-box .line1 {top:50%;margin-top:0;transform:rotate(135deg);}
#wrap #header .wrap .gap .container > ul > li:nth-child(2) > a > .line-box .line2 {top:50%;margin-top:-1px;}
#wrap #header .wrap .gap .container > ul > li:nth-child(2) > a.addBtn > .line-box .line2 {display:none;}
#wrap #header .wrap .gap .container > ul > li:nth-child(2) > a > .line-box .line3 {bottom:0;}
#wrap #header .wrap .gap .container > ul > li:nth-child(2) > a.addBtn > .line-box .line3 {bottom:50%;margin-bottom:-1px;transform:rotate(-135deg);}
#wrap #header .wrap .gap .container > ul > li:nth-child(2) > a > .text {font-size:20px;color:#fff;padding-left:7px;}
#wrap #header.addHeader .wrap .gap .container > ul > li:nth-child(2) > a > .text {color:#222;}
/* 오른쪽 메뉴 */
#wrap #header .wrap .gap .container > ul > li:nth-child(3) {float:right;}
#wrap #header .wrap .gap .container > ul > li:nth-child(3) > ul {z-index:2;position:relative;display:block;padding:40px 0;}/*어차피 float right있어서 블럭해도 100% 잡히지않음*/
#wrap #header .wrap .gap .container > ul > li:nth-child(3) > ul > li {display:inline-block;}
#wrap #header .wrap .gap .container > ul > li:nth-child(3) > ul > li > span {display:inline-block;margin-left:15px;}
#wrap #header .wrap .gap .container > ul > li:nth-child(3) > ul > li > span > a {display:inline-block;color:#fff;}
#wrap #header.addHeader .wrap .gap .container > ul > li:nth-child(3) > ul > li > span > a {color:#222;}
#wrap #header .wrap .gap .container > ul > li:nth-child(3) > ul > li > span > a.confirm-btn {position:relative;width:110px;height:38px;line-height:38px;text-align:center;color:#fff;font-size:13px;background:#222;font-weight:500;letter-spacing:1px;text-indent:-30px;}
#wrap #header .wrap .gap .container > ul > li:nth-child(3) > ul > li > span > a.confirm-btn:after {position:absolute;top:16px;left:70%;content:"";display:block;width:6px;height:6px;border-top:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg);}
#wrap #header.addHeader .wrap .gap .container > ul > li:nth-child(3) > ul > li > span > a.confirm-btn {background:#2e3192;}
#wrap #header .wrap .gap .container > ul > li:nth-child(3) > ul > li > span > a > img.m-white {display:block;width:23px;}
#wrap #header .wrap .gap .container > ul > li:nth-child(3) > ul > li > span > a > img.m-black {display:none;}
#wrap #header.addHeader .wrap .gap .container > ul > li:nth-child(3) > ul > li > span > a > img.m-white {display:none;}
#wrap #header.addHeader .wrap .gap .container > ul > li:nth-child(3) > ul > li > span > a > img.m-black {display:block;}
#wrap #header .wrap .gap .container > ul > li:nth-child(3) > ul > li > span > i {display:block;width:2px;height:2px;background:#fff;}

#wrap #main {z-index:1;position:relative;width:100%;}
/* 제이슨여행사의 슬라이드는 fixed이기 때문에 섹션 전체를 fixed주고 섹션 형제들끼리 z-index로 위치 잡아주고 슬라이드 다음 섹션을 슬라이드의 높이만큼 마진탑으로 밑으로 눌러줌*/
#wrap #main #section1 {z-index:1;position:fixed;top:0;left:0;width:100%;height:auto;background:#fff;height:969px;/* 임시높이,js에서창높이로바꿔줄것 */}
#wrap #main #section1 .wrap {width:100%;height:100%;}
#wrap #main #section1 .wrap .gap {width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container {width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container {position:relative;position:relative;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view {z-index:1;position:relative;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap {position:relative;left:calc(-100%*0);width:calc(100%*6);margin-left:-100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {float:left;width:1903px;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {background:url(../img/slide0.jpg) no-repeat 50% 0;background-size:cover;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {background:url(../img/slide1.jpg) no-repeat 50% 0;background-size:cover;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {background:url(../img/slide2.jpg) no-repeat 50% 0;background-size:cover;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 {background:url(../img/slide3.jpg) no-repeat 50% 0;background-size:cover;}

#wrap #main #section1 .wrap .gap .container .slide-container .next-wrap {z-index:2;position:absolute;top:43%;right:10%;width:52px;height:100px;}
#wrap #main #section1 .wrap .gap .container .slide-container .next-wrap .next-btn {display:block;width:100%;height:100%;background:url(../img/visu_slick_next.png) no-repeat 50% 50%;background-size:52px 100px;}
#wrap #main #section1 .wrap .gap .container .slide-container .prev-wrap {z-index:2;position:absolute;top:43%;left:10%;width:52px;height:100px;}
#wrap #main #section1 .wrap .gap .container .slide-container .prev-wrap .prev-btn {display:block;width:100%;height:100%;background:url(../img/visu_slick_prev.png) no-repeat 50% 50%;background-size:52px 100px;}
#wrap #main #section1 .wrap .gap .container .slide-container .smooth-btn-wrap {z-index:2;position:absolute;bottom:6%;width:100%;height:48px;text-align:center;}
#wrap #main #section1 .wrap .gap .container .slide-container .smooth-btn-wrap .smooth-btn {display:inline-block;height:18px;line-height:15.6px;font-size:12px;color:#fff;}
#wrap #main #section1 .wrap .gap .container .slide-container .smooth-btn-wrap .smooth-btn > i {display:block;margin-top:15px;margin-left:55px;width:35px;height:18px;background:url(../img/arr_down_thin.png) no-repeat 50% 50%;background-size:35px 18px;transition:all .5s;}
#wrap #main #section1 .wrap .gap .container .slide-container .smooth-btn-wrap:hover .smooth-btn > i {margin-top:30px;}

#wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap {z-index:2;position:absolute;bottom:20%;width:100%;height:4px;}
#wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap > ul {width:60%;margin:0 auto;}
#wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap > ul > li {float:left;width:25%;}
#wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap > ul > li > div {width:auto;margin:0 5px;}
#wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap > ul > li > div > a {display:block;width:100%;height:4px;background:rgba(255,255,255,.5);border-radius:40px;}
#wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap > ul > li > div > a > i {display:block;width:0;height:100%;background:#fff;border-radius:40px;transition:all 1s;}
#wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap > ul > li > div > a:hover > i {width:100%;}

#wrap #main .section2345 {z-index:2;position:relative;width:100%;height:auto;background:#fff;padding:130px 0;}
#wrap #main .section2345 .title-wrap {width:100%;max-width:1530px;margin:0 auto;}
#wrap #main .section2345 .title-wrap .title-gap {padding-top:20px;}
#wrap #main .section2345 .title-wrap .title-gap > h2 {width:100%;height:100%;color:#222;font-size:33.008px;line-height:42.9104px;text-align:center;}
#wrap #main .section2345 .title-wrap .title-gap > h2:after {content:"";display:block;width:110px;height:1px;background:#ddd;margin:20px auto 50px;}

#wrap #main #section2 {margin-top:969px;height:auto;}
#wrap #main #section2 .wrap {width:100%;}
#wrap #main #section2 .wrap .gap {width:100%;height:100%;}
#wrap #main #section2 .wrap .gap .container {width:100%;height:100%;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap {margin-top:50px;height:100%;max-width:1570px;margin:0 auto;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap {margin:0 20px;height:100%;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li {width:33.333333%;height:383.250px;float:left;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li > div {position:relative;height:100%;margin:35px 50px 0 0;}

#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li > div .image-wrap {z-index:1;position:absolute;top:0;left:0;width:100%;overflow:hidden;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li > div .image-wrap .img-bg {z-index:1;position:relative;width:100%;height:300px;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li:nth-child(1) > div .image-wrap .img-bg {background:url(../img/gallery1.jpg) no-repeat 50% 50%;background-size:100% auto;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li:nth-child(2) > div .image-wrap .img-bg {background:url(../img/gallery2.jpg) no-repeat 50% 50%;background-size:100% auto;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li:nth-child(3) > div .image-wrap .img-bg {background:url(../img/gallery3.jpg) no-repeat 50% 50%;background-size:100% auto;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li:nth-child(4) > div .image-wrap .img-bg {background:url(../img/gallery4.jpg) no-repeat 50% 50%;background-size:100% auto;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li:nth-child(5) > div .image-wrap .img-bg {background:url(../img/gallery5.jpg) no-repeat 50% 50%;background-size:100% auto;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li:nth-child(6) > div .image-wrap .img-bg {background:url(../img/gallery6.jpg) no-repeat 50% 50%;background-size:100% auto;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li:nth-child(7) > div .image-wrap .img-bg {background:url(../img/gallery7.jpeg) no-repeat 50% 50%;background-size:100% auto;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li:nth-child(8) > div .image-wrap .img-bg {background:url(../img/gallery8.jpeg) no-repeat 50% 50%;background-size:100% auto;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li:nth-child(9) > div .image-wrap .img-bg {background:url(../img/gallery9.jpeg) no-repeat 50% 50%;background-size:100% auto;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li > div .image-wrap .city_e {padding:22px 10px 0;color:#2e3192;font-size:16px;font-family:'Times New Roman',Times,serif;font-weight:700;text-align:center;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li > div .image-wrap .city_k {padding:0 10px 10px;color:#333;font-size:24px;line-height:31.2px;text-align:center;font-weight:700;}

#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li > div .image-wrap .hover-wrap > div {position:relative;width:100%;display:table-cell;vertical-align:middle;text-align:center;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li > div .image-wrap .hover-wrap > div:first-child {color:#fff;font-size:24px;font-family:'Times New Roman',Times,serif;font-weight:700;}
#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li > div .image-wrap .hover-wrap > div:last-child {position:absolute;top:58%;left:0;color:#fff;font-size:24px;}


#wrap #main #section2 .wrap .gap .container .gallery-wrap .gallery-gap > li > div > a {z-index:2;position:absolute;top:0;left:0;display:block;width:100%;height:100%;}

#wrap #main #section3 {height:700px;/* 임시높이 */}
#wrap #main #section4 {background:#f6f6f6;height:500px;/* 임시높이 */}
#wrap #main #section5 {height:250px;/* 임시높이 */padding:30px 0;}
#wrap #footer {z-index:2;position:relative;width:100%;height:253.4px;/* 임시높이 */background:#303030;} 
/* 고정이미지가 내려가면 푸터를 가리니까(마치 몸통은 이불덮고 발은 나오것마냥) z-index 순서를 메인이랑 바꿈 */

